<div class="container-image">
  <div class="banner" style="background-size: cover; height: 800px; width: 100vw; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @spot.photo_url %>);">
    <div class="container-fluid">

      <<!-- div class="row">
        <div class="p-2">
          <a class="btn effect01" href="#">MAP</a>
        </div>
        <div class="p-2">
          <a class="btn effect01" href="#">SAVE</a>
        </div>
        <div class="p-2">
          <a class="btn effect01" href="#">SHARE</a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div id="c-all-colum" class="d-flex justify-content-between mr-1">
  <div class="col-6 offset-1">
    <div id="block-title-avatar" class="d-flex justify-content-between">
      <div>
        <h2><strong><%= @spot.marina_name %></strong></h2>
        <h6>One of the most beautiful Marina's in the country</h6>
      </div>
      <div>
        <div class="card-owner">
          <div class="card-owner-infos">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" style="width:80px;" />
            <h5 class="text-center">Pedro</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container-details-spot">
        <h5><strong>Size:</strong> 8m²</h5>
        <h5><strong>Price:</strong> <%= @spot.price_per_night %></h5>
        <h5><strong>Harbour:</strong> <%= @spot.marina_name %> </h5>
    </div>
    <div class="description">
      <p> <%= @spot.description %></p>
    </div>

    <!-- calendar main part -->
<!--
    <div class="calendar-main-page">
      <h2>Calendar Avaibility</h2>
      <div class="calendar-with-input">
        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>August<br><span style="font-size:18px">2017</span></li>
          </ul>
        </div>
        <div class="weekdays">
          <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
          </ul>
        </div>
        <div class="days">
          <ul class="days">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li><span class="active">10</span></li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
          </ul>
        </div>
        <div class="container-input" style="display: flex; justify-content: space-around;">
          <input class="main-date-input" type="text" placeholder="FROM">
          <input class="main-date-input" type="text" placeholder="TO">
        </div>
      </div>
    </div>

    <-- map main part -->

   <!-- <div class="container-map">
      <iframe class="map" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps(...)"></iframe>
    </div>-->

    <!-- review main part -->

    <div class="reviews">
      <h3>REVIEW ABOUT THE OWNER</h3>
      <div class="container-review">
        <div class="comment-section">
          <img src="https://images.unsplash.com/photo-1470923267153-a9effefa7551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" style="width: 150px;" />

          <div class="card-comment-section">
            <h4>Review from Pedro </h4>
            <div class="card-comment">
              <div class="card-comment-infos">
                <h5>"Amazing stay"</h5>
                <p>Rent the spot for 6 months, the security in the harbour was <strong>perfect</strong> on the week end .</p>
              </div>
            </div>
          </div>
        </div>

          <div class="comment-section">
            <img src="https://images.unsplash.com/photo-1470923267153-a9effefa7551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" style="width: 150px;" />

            <div class="card-comment-section">
              <h4>Review from Anna </h4>
              <div class="card-comment">
                <div class="card-comment-infos">
                  <h5>"D'la merde stay"</h5>
                  <p>Rent the spot for 6 months, the security in the harbour was <strong>perfect</strong> on the week end .</p>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-section">
            <img src="https://images.unsplash.com/photo-1470923267153-a9effefa7551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" style="width: 150px;" />

            <div class="card-comment-section">
              <h4>Review from Michael </h4>
              <div class="card-comment">
                <div class="card-comment-infos">
                  <h5>"Cheap stay"</h5>
                  <p>Rent the spot for 6 months, the security in the harbour was <strong>perfect</strong> on the week end .</p>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <!-- menu sticky -->

  <div class="col-4">
    <div class="form-wrapper-sticky">
      <div class="col-12">
        <div id="sticky-menu" class="card bg-white p-4">
          <h2> Book the Spot</h2>
          <form>
            <div class="row">
              <div class="col-12 input-grp">
                <label>City or Marina</label>
                <input type="city or marina" class="form-control" placeholder="Anywhere">
              </div>
            </div>

            <div class="row">
              <div class="col-12 input-grp">
                <label>Check In</label>
                <input type="date" class="form-control select-date" placeholder="Date">
              </div>
            </div>

            <div class="row">
              <div class="col-12 input-grp">
                <label>Check Out</label>
                <input type="date" class="form-control select-date" placeholder="Date">
              </div>
            </div>

            <div class="row">
              <div class="col-12 input-grp">
                <label>Boat size(meters)</label>
                <input type="number" class="form-control" value="1">
              </div>
            </div>

            <div class="btn-grp">
              <button type="button" class="btn btn-login d-block text-white">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>
</div>



