<div class="container-image">
  <div class="banner" style="background-size: cover; height: 400px; width: 100vw; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @spot.photo %>);">
  </div>
</div>

<div class="d-flex bg-white" style="padding-left:200px; padding-right:200px; padding-top:40px;">
  <div style="height: 100vh; display:absolute; width: 60%; padding-right:30px;">
    <div class="d-flex justify-content-between border-bottom">
      <div>
        <h2 class="spot-title-grey"><%= @spot.marina_name %></h2>
        <div class="d-flex">
          <p class="info-box spot-text"> <i class="fas fa-map-pin"></i> <%= @spot.marina_name %> </p>
          <p class="info-box spot-text"><i class="fas fa-euro-sign"></i> <%= @spot.price_per_night %> </p>
          <p class="spot-text"><i class="fas fa-anchor"></i> <%= @spot.boat_size %>m</p>
        </div>
      </div>
      <div class="card-owner-infos">
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" style="width:80px;" />
        <h5 class="mt-2 owner-name-grey">Pedro</h5>
      </div>
    </div>

    <p class="spot-text mt-4"> <%= @spot.description %></p>
    <div class="border-bottom border-top pt-4 pl-2">
     <p>
        <button class="form-actions btn-login text-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Add a New Review
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="form-group ">
            <%= simple_form_for [@spot, @review] do |f| %>
              <%= f.input   :title,
                            label: "Title",
                            required: true %>
              <%= f.input   :stars,
                            label: "Rating",
                            required: true %>
              <%= f.input   :description,
                            label: "Description review",
                            required: true %>
              <div class="form-actions btn-login">
                <%= f.button :submit, "Post review" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h2 class="price-card heading-show pt-4 pb-3">Reviews</h2>
        <div class = "d-flex">
          <div class="review-heading">
            <p>
              <i class="fas fa-star" style="color:#018489"></i>
              <%= @reviews.average(:stars).to_s.to_f.round(2) %> |
            </p>
          </div>
          <div class="pl-2">
            <p class="review-heading">
              <strong><%= @reviews.length%></strong>
              <%= @reviews.length == 1 ? "Review" : "Reviews" %>
            </p>
          </div>
        </div>
      </div>
      <% @reviews.each do |review| %>
      <div class="border-bottom mt-4">
        <div class="d-flex">
          <img src="https://source.unsplash.com/featured/?face", class="avatar" />
          <div class="pl-4">
            <p class="review-name mb-0"><%= review.title %></p>
            <p class="review-date"><%= "⭐️" * review.stars %></p>
          </div>
        </div>
        <p class="review-description pt-2"><%= review.description %></p>
      </div>
      <% end %>
    </div>
  </div>


  <div style="display:absolute; width: 40%;">
    <div class="card">
      <div class="card-body p-4">
        <div class="border-bottom">
          <h5 class="price-card">
            <%= @spot.price_per_night %>€
            <span class="rating-card">
              per day
            </span>
          </h5>
          <p class="rating-card">
            <i class="fas fa-star" style="color:#018489"></i>
            <%= @reviews.average(:stars).to_s.to_f.round(2) %>
            <span style="color:#717171">
              (<%= @reviews.length %> <%= @reviews.length == 1 ? "review" : "reviews" %>)
            </span>
          </p>
        </div>
       <div class="form-group ">
          <%= simple_form_for @booking do |f| %>
            <%= f.input   :start_date,
                          label: "Check-in",
                          required: true %>
            <%= f.input   :end_date,
                          label: "Check-out",
                          required: true %>
            <%= f.input   :spot_id,
                          as: :hidden,
                          input_html: { value: @spot.id } %>
            <div class="form-actions btn-login">
              <%= f.button :submit, "Reserve" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- calendar main part -->
<!--
    <div class="calendar-main-page">
      <h2>Calendar Avaibility</h2>
      <div class="calendar-with-input">
        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>August<br><span style="font-size:18px">2017</span></li>
          </ul>
        </div>
        <div class="weekdays">
          <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
          </ul>
        </div>
        <div class="days">
          <ul class="days">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li><span class="active">10</span></li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
            <li>31</li>
          </ul>
        </div>
        <div class="container-input" style="display: flex; justify-content: space-around;">
          <input class="main-date-input" type="text" placeholder="FROM">
          <input class="main-date-input" type="text" placeholder="TO">
        </div>
      </div>
    </div>

    <-- map main part -->

   <!-- <div class="container-map">
      <iframe class="map" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps(...)"></iframe>
    </div>-->

    <!-- review main part -->


