<div class="d-flex container-profile">
  <div class="profile-info">
    <%= cl_image_tag @user.photo, crop: :fill , class: "avatar"%>
    <p>Upload my profile picture.</p>
    <h4><%= @user.name.capitalize %> personnal infos:</h4>
    <p>✔️ E-mail address confirm</p>
    <p>Account create <%= @user.created_at.strftime("%F") %></p>
    <p>Account last update <%= @user.updated_at.strftime("%F") %></p>
  </div>
  <div class="profile-title ">
    <h1>Hello <%= @user.name.capitalize %>, </h1>

    <p class="border-bottom">Member since <%= @user.created_at.strftime("%F") %></p>
    <br>

    <p>Contact at: <%= @user.email%></p>
  </div>
</div>
<div class="container-edit-profil">

    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>


    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :photo%>
    <%= f.input :photo_cache, as: :hidden %>




  <div class="form-actions">
   <%= f.button :submit, "Update" %>
  </div>
    <% end %>
</div>
<div class="container-cancel">
  <h3>Cancel my account</h3>
  <p>Unhappy?</p>
  <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%= link_to "Back", :back %>
